.user {
  margin-left: auto;
  padding: 0 16px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.65);
  width: 65px;
  margin-right: 50px;
}
.user:hover {
  color: #fff;
}

.active {
  background-color: #e21836;
}
